body, html {
    height: 100%;
    width: 100%;
}

.infoWindow {
    max-width: 20rem;
}

.infoWindow img {
    width: 100%;
}

.navbar {
    height: 10%;
}

#map {
    width: 100%;
    height: 90%;
}

#sidebar-icon {
    height: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 2%;
    top: 2%;
}

#full-height {
    height: 100%;
}

#foursquare-logo {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
    #foursquare-logo {
        display: none;
    }
}

#categoryInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1rem; /* Increase font-size */
    padding: 1rem 1rem 1rem 1rem; /* Add some padding */
    border: 0.1rem solid #ddd; /* Add a grey border */
    margin-bottom: 1rem; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 0.1rem solid #ddd; /* Add a border to all links */
    margin-top: -0.1rem; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 1rem; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 0.7rem; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#live-search {
    position: absolute;
    right: 3%;
    top: 2%;
    z-index: 1;
}