body, html {
    height: 100%;
    width: 100%;
}

.nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.infoWindow {
    max-width: 20rem;
}

.infoWindow img {
    width: 100%;
}

.navbar {
    height: 8%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#map {
    width: 100%;
    height: 92%;
}

#sidebar-icon {
    height: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 2%;
    top: 2%;
}

#full-height {
    height: 100%;
}
