body, html {
    height: 100%;
    width: 100%;
}

input {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 2;
}

.infoWindow {
    max-width: 20rem;
}

.infoWindow img {
    width: 100%;
}

.navbar {
    height: 10%;
}

#map {
    width: 100%;
    height: 90%;
}

#sidebar-icon {
    height: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 2%;
    top: 2%;
}

#full-height {
    height: 100%;
}

#foursquare-logo {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
    #foursquare-logo {
        display: none;
    }
}

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }